.clothes {
  font-family: "Cabinet Grotesk";
  gap: 20px;
  justify-content: flex-start;
  padding: 33px 0 0 0;
  font-size: 20px;
  font-weight: 700;
  margin-right: 40px;
}

.clothes__container {
  display: flex;
}

.clothes__button {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.clothes__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin-top: 16px;
  gap: 18px;
}
