.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  max-height: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__logo {
  display: flex;
  padding: 0;
  /* margin-left: 40px; */
  gap: 24px;
  align-items: center;
}

.header__name {
  cursor: pointer;
  text-decoration: none;
}

.header__name:hover {
  opacity: 0.5;
}

.header__avatar {
  display: flex;
  padding: 0;
  /* margin-right: 40px; */
  align-items: center;
  gap: 12px;
}

.header__logo-picture {
  width: 89px;
  height: 40px;
}

.header__add-button {
  font-family: "Cabinet Grotesk";
  cursor: pointer;
  margin-right: 8px;
  border: none;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.header__add-button:hover {
  opacity: 0.5;
}

.header__avatar-picture {
  width: 40px;
  height: 40px;
}

.header__register-btn {
  font-size: 20px;
  line-height: 24px;
  background-color: #fff;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.header__login-btn {
  font-size: 20px;
  line-height: 24px;
  background-color: #fff;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
