.weather__container {
  position: relative;
}

.weather__info {
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  position: absolute;
  margin: 0;
  left: 3vh;
  top: 3vh;
}

.weather__image {
  max-width: 1360px;
  width: 100%;
}
